<html ng-app="PhoneMines">

<head>
	<meta charset="UTF-8">
	<title>PhoneMines</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body ng-controller="MainController as vm">
	<header>
		<div class="container select">

			<h1>Welcome to the Phone Mines!</h1>
			<h3>Pick what you would like in a phone below. We'll take care of the rest.</h3>
			<button class="reset" ng-click="vm.reset()">RESET</button> <br/>
			<button class="button" ng-click="vm.request('Apple, iPhone')">iOS</button>
			<button class="button" ng-click="vm.request('Android')">Android</button>
			<button class="button" ng-click="vm.request('Camera')">Camera</button> <br/>
			<!--<button class="find" ng-click="vm.sendRequest()">Find</button>-->
		</div>
	</header>
	<section>
		<div class="container phoneList">
			<center>
			</center>
			<div class="phoneShowcase" ng-repeat="phone in vm.finalPhones">
				<h3 class="phoneName">{{phone.name}}</h3>
				<img ng-src="{{phone.image}}"></img>
				<h2 class="phoneInfo">manufacturer: {{phone.make}}</h2>
				<p>{{phone.features}}</p>
			</div>
		</div>
	</section>
	<!--<div class="footer">
		<div class="container">
			<div class="bottom-left">
				<h4><a href="mailto:myctrring@gmail.com">Contact Us Here</a></h4>
				<br/>
				<h4>Made by <a href="http://llamageek.com" class="link">llamageek</a></h4>
			</div>
		</div>
	</div>-->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://rawgit.com/julianshapiro/velocity/master/velocity.min.js"></script>
	<script src="https://rawgit.com/padolsey/sonic.js/master/src/sonic.js"></script>
	<script src="jquery.js"></script>
	<script src="script.js"></script>
</body>

</html>