body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #1d2023;
  font-family: "CenturyGothic", Arial;
  color: #1d2023; }

section {
  background-color: white;
  margin: 0;
  padding: 0;
  color: #1d2023; }

header {
  background-color: #1d2023;
  color: white; }

header h1, header h2, header h3, header h4, header h5, header h6, header p {
  text-align: center; }

.footer {
  background-color: #1d2023;
  color: white;
  height: 25vh; }

a {
  color: coral;
  transition: all 0.25s; }

a:hover {
  color: purple;
  transition: all 0.25s;
  text-decoration: none; }
.top{
  margin-bottom: 10%;
}
.phoneList{
  text-align: center;
  background-color: white;
  height: 0%;
}
.button, .iosButton{
  background-color: coral;
  font-size: 20pt;
  position: relative;
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 200px;;
  padding: 23px;
  border: none;
  border-radius: 50%;
}
img{
  width: 300px;
}
.container{
  text-align: center;
}
.sonic{
  display: inline-block;
  position: relative;
  visibility: hidden;
  left: 46%;
  margin-top: 4%;
}
.sec0{
  position: relative;
}
.sec1, .sec2, .sec3, .sec4, .sec5{
  display: none;
}
.phoneList h1{
  font-weight: bold;
  font-family: "Arial";
}
.phonePhoto0{
  width: 240px;
}
.phoneDiv0{
  border: 1px dashed black;
  padding: 10px;
  border-radius: 7%;
  margin-left: -15%;
  position: absolute;
  display: inline-block;
  width: 30%;
}
.phonePhoto1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height:400px;
  width: auto;
  height: auto;
}
.phoneDiv1{
  margin-top: 6%;
  margin-left: -50%;
  position: absolute;
  display: inline-block;
  width: 30%;
}
.phonePhoto2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height:400px;
  width: auto;
  height: auto;
}
.phoneDiv2{
  margin-top: 6%;
  width: 30%;
  position: absolute;
  display: inline-block;
  margin-left: 20%;
}
.reset{
  display: none;
  margin-left: 12%;
}
.reset{
  background-color: coral;
  font-size: 20pt;
  position: relative;
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 200px;;
  padding: 23px;
  border: none;
  border-radius: 50%;
  display: none;
}