body {
  background-color: #1d2023;
  font-family: "CenturyGothic", Arial;
  color: #1d2023; }

section {
  background-color: white;
  margin: 0;
  padding: 0;
  color: #1d2023; }

header {
  background-color: #1d2023;
  color: white;
  height: 80vh; }

header h1, header h2, header h3, header h4, header h5, header h6, header p {
  text-align: center; }

.footer {
  background-color: #1d2023;
  color: white;
  height: 25vh; }

a {
  color: coral;
  transition: all 0.25s; }

a:hover {
  color: dodgerblue;
  transition: all 0.25s;
  text-decoration: none; }
  
.phoneList{
  background-color: white;
  height: 0%;
}
.button{
  background-color: coral;
  font-size: 20pt;
  position: relative;
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 150px;
  height: 150px;
  padding: 23px;
  border-radius: 50%;
}
img{
  width: 300px;
}
.container{
  text-align: center;
}
.sonic{
  display: inline-block;
  position: relative;
  visibility: hidden;
  left: 46%;
  top: -120px;
}